{% extends 'shop/base.html' %}
{%load static%}
{%load reverse_text%}



{%block headblock%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.svg" type="image/x-icon">

    <!-- Sansation Font-->
<!--    <link href="https://allfont.net/allfont.css?fonts=sansation-regular" rel="stylesheet" type="text/css" />-->
<!--    <link href="https://allfont.net/allfont.css?fonts=sansation-bold" rel="stylesheet" type="text/css" />-->
<!--    <link href="https://allfont.net/allfont.css?fonts=sansation-light" rel="stylesheet" type="text/css" />-->

    <!-- M1 PLUS Code Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/8a2fbc0c4d.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/media-query-header.css' %}">
    <link rel="stylesheet" href="{% static 'working_with_orders/css/basket.css' %}">
    <link rel="stylesheet" href="{% static 'working_with_orders/css/media-query-basket.css' %}">

    <title>Корзина</title>
{%endblock headblock%}

{%block content %}
    <main>
        <div class="main-content__wrapper">
            {%for item in order_points%}
            <div class="item">
                <div class="item__img-container">
                     <img src="{{item.product.product_photos.0.img}}" alt="{{item.product.product_photos.0.img}}">
                </div>
                <div class="item__text-container">
                    <p class="item__title">{{item.product.product_name}} </p>
                    <p class="item__description">{{item.product.description}}</p>
                    <div class="item__buttons-container">
                        <div class="item__counter-container">
                            <i class="fas fa-plus"></i>
                            <p class="item__counter">{{item.amount}}</p>
                            <i class="fas fa-minus"></i>
                        </div>
                        <div class="item__action-buttons-container">
                            <i class="fas fa-save"></i>
                            <i class="fas fa-cart-arrow-down"></i>
                            <a href="{%url 'order_point_remove' item.id%}"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item__price">
                        <p class="price">Цена: <span class="price__text">{{item.price}}</span></p>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="buy-action-wrapper">
            <p class="total">Итоговая цена: <span class="total__price"></span></p>
            <button id="total__button">Заказать всё</button>
        </div>
    </main>

    <script src="{%static 'shop/js/main.js'%}"></script>
    <script src="{%static 'working_with_orders/js/basket.js'%}"></script>


{%endblock%}