Django==4.2.1
django-filter==23.2
djangorestframework==3.14.0
Pillow==9.5.0
django-sortedm2m==3.1.1
django-formtools==2.4.1
django-autoslug==1.9.9
django-jazzmin==2.6.0
celery==5.3.1
django-redis==5.3.0
django-celery-results==2.5.1
gevent==23.7.0
django-celery-beat==2.5.0

