{% extends 'shop/base.html' %}
{% load static %}



{%block headblock%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.svg" type="image/x-icon">

    <!-- Sansation Font-->
    <!-- <link href="https://allfont.net/allfont.css?fonts=sansation-regular" rel="stylesheet" type="text/css" />
    <link href="https://allfont.net/allfont.css?fonts=sansation-bold" rel="stylesheet" type="text/css" />
    <link href="https://allfont.net/allfont.css?fonts=sansation-light" rel="stylesheet" type="text/css" /> -->

    <!-- M1 PLUS Code Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/8a2fbc0c4d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'shop/css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/media-query-catalog.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/media-query-header.css' %}">

{%endblock headblock%}

{%block content %}
    <main>

       <div class="filters-icon__container">
            <i class="fas fa-filter"></i>
        </div>
        <form class="filters-container">
            <i class="fas fa-times"></i>
            <div class="price filters__item">
                <p class="filters__item-title">Ценовой диапазон:</p>
                <div class="price-range__input">
                    <input type="range" name="last_price_min" id="price-min__input" min="0" max="" value="0" step="1000">
                    <input type="range" name="last_price_max" id="price-max__input" min="0" max="100000" value="100000" step="1000">
                    <p class="price-range">
                        <span id="">
                            <input type="number" name="" id="price-range-min" value="0">
                        </span>
                        -
                        <span id="">
                            <input type="number" name="" id="price-range-max" value="0">
                        </span>
                    </p>
                </div>
            </div>
            <div class="categories filters__item">
                <p class="filters__item-title">Категории <i class="fas fa-chevron-right"></i></p>
                <div class="filters__item-container">
                    <ul class="filters__item-container-list">
                        {%for category in categories%}
                        <li class=""><input type="checkbox" name="category" value="{{category.slug}}" id="{{category.slug}}"><label for="{{category.slug}}">{{category.name}}</label></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <div class="manufacturer filters__item">
                <p class="filters__item-title">Производитель <i class="fas fa-chevron-right"></i>
                <p>
                <div class="filters__item-container">
                    <ul class="filters__item-container-list">
                        {%for manufacturer in manufacturers%}
                        <li class=""><input type="checkbox" name="manufacturer" value="{{manufacturer.slug}}" id="{{manufacturer.slug}}"><label for="{{manufacturer.slug}}">{{manufacturer.manufacturer_name}}</label></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <div class="sale manufacturer filters__item">
                <p class="filters__item-title">Скидка <i class="fas fa-chevron-right"></i>
                <p>
                <div class="filters__item-container">
                    <ul class="filters__item-container-list">
                        <li><input type="radio" name="discount"  value="true" id="sale-item-yes"><label for="sale-item-yes">Да</label></li>
                        <li><input type="radio" name="discount" value="false" id="sale-item-no"><label for="sale-item-no">Нет</label></li>
                    </ul>
                </div>
            </div>
            <button>Применить</button>
        </form>

        <div class="catalog-items">
            {%for product in  products%}
                {%for img in product.product_photos%}
            <div class="item">
                <div class="item-add-to-cart-link"><a href="{%url 'add_product' product.id%}">В корзину</a></div>
                <img src="{{img.img}}" alt="">
                 <p>{{product.product_name}}</p>
                    <p>{{product.last_price}}</p>
                <div class="item-view-link"><a href="{%url 'show_product' product.slug%}">Просмотр</a></div>
            </div>
             {%endfor%}
            {%endfor%}
        </div>
    </main>

    <script src="{%static 'shop/js/catalog/catalog.js' %}"></script>
<!--    <script src="{% static 'shop/js/catalog/priceFilter.js' %}"></script>-->
    <script src="{% static 'shop/js/catalog/openFilters.js' %}"></script>
    <script src="{% static 'shop/js/main.js' %}"></script>
{%endblock%}