{% extends 'shop/base.html' %}
{%load static%}
{%load reverse_text%}


{%block headblock%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{%static 'shop/img/favicon.svg'%}" type="image/x-icon">

    <!-- Sansation Font-->
    <!-- <link href="https://allfont.net/allfont.css?fonts=sansation-regular" rel="stylesheet" type="text/css" />
<link href="https://allfont.net/allfont.css?fonts=sansation-bold" rel="stylesheet" type="text/css" />
<link href="https://allfont.net/allfont.css?fonts=sansation-light" rel="stylesheet" type="text/css" /> -->

    <!-- M1 PLUS Code Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/8a2fbc0c4d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'shop/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/media-query-profile.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/media-query-header.css' %}">

{%endblock headblock%}
{%block content %}



    <main>
        <div class="profile-settings__container">
            <div class="profile-settings">
                <p class="profile-settings__title">Настройки профиля</p>
                <form action="" method="get" >
                    <a href=""><i class="fas fa-times"></i></a>
                    <div  class="profile-settings__form-item change-name__form">
                        <div>
                            <input type="text" name="first_name"  value="{{profile.first_name}}" placeholder="Введите новое имя">
                        </div>
                        <div>
                            <input type="text" name="last_name" value="{{profile.last_name}}" placeholder="Введите новую фамилию">
                        </div>
                        <div>
                            <input type="text" name="username" value="{{profile.username}}" placeholder="Введите новый никнейм">
                        </div>
                    </div>
                    <div  class="profile-settings__form-item change-password__form">
                        <div>
                            <input type="password" name="last_password" id="password__input" placeholder="Введите старый пароль">
                        </div>
                        <div>
                            <input type="password" name="new_password" id="password__input" placeholder="Введите новый пароль">
                        </div>
                        <div>
                            <input type="password" name="reenter_password" id="confirm-password__input" placeholder="Подтвердите новый пароль">
                        </div>
                    </div>
                    <div class="profile-settings__form-item change-email__form">
                        <div>
                            <input type="email" name="email" value="{{profile.email}}" id="email__input" placeholder="Введите новый e-mail">
                        </div>
                        <div>
                            <input type="email" name="reenter_email" id="confirm-email__input" placeholder="Подтвердите новые e-mail">
                        </div>
                    </div>
                    <div  class="profile-settings__form-item change-other__form">
                        <div>
                            <input type="tel" name="phone" value="{{profile.phone}}" id="tel__input" placeholder="Изменить номер телефона">
                        </div>
                        <div>
                            {%if profile.address%}
                            <input type="tel" value="{{profile.address}}" name="address" id="adress__input" placeholder="Изменить адрес доставки">
                            {%else%}
                            <input type="tel" name="address" id="adress__input" placeholder="Изменить адрес доставки">
                            {%endif%}
                        </div>
                    </div>
                    <button id="confirm">Подтвердить</button>
                </form>
            </div>
        </div>

        <i class="fas fa-cogs"></i>


        <div class="profile-info">
            <div class="profile-img__wrapper">
                <img src="{{profile.user_photo}}" alt="{{profile.user_photo}}">
                <div class="profile-img-hover">
                    <i class="fas fa-edit"></i>
                </div>
            </div>
            <p class="registration-date">Дата регистрации: <span>{{profile.date_joined|reverse_text}}</span></p>

        </div>

        <div class="orders">
            <div class="orders__item">
                <p class="orders-item__title paid">Оплачено</p>
                <div class="orders__container">
                    {%for paid_order in paid_orders%}

                    <div>
                        <p class="item-id">ID заказа: <span>{{paid_order.id}}</span></p>
                        <p class="item-delivery-date">Дата заказа: <span>{{paid_order.date|reverse_text}}</span></p>
                    </div>
                    {%endfor%}


                </div>
            </div>
            <div class="orders__item">
                <p class="orders-item__title not-paid">Не оплачено</p>
                <div class="orders__container">

                     {%for unpaid_order in unpaid_orders%}
                    <div>
                        <p class="item-id">ID заказа: <span>{{unpaid_order.id}}</span></p>
                        <p class="item-delivery-date">Дата заказа: <span>{{unpaid_order.date|reverse_text}}</span></p>
                    </div>
                    {%endfor%}

                </div>
            </div>
            <div class="orders__item">
                <p class="orders-item__title delivery">Доставка</p>
                <div class="orders__container">
                    {%for delivery_order in delivery_orders%}

                    <div>
                        <p class="item-id">ID заказа: <span>{{delivery_order.id}}</span></p>
                        <p class="item-delivery-date">Дата заказа: <span>{{delivery_order.date|reverse_text}}</span></p>

                    </div>
                    {%endfor%}

                </div>
            </div>
        </div>

    </main>




    <script src="{% static 'shop/js/main.js' %}"></script>
    <script src="{% static 'shop/js/profile.js' %}"></script>
{%endblock%}